<script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="product-item_component" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
                      <div class="product-item_image-link">
                        <a li-object:href="product.url" href="{{ product.url }}" class="product-item_image-wrapper w-inline-block"><img li-object:alt="product.featured_image.alt" loading="lazy" li-object:src="product.featured_image | image_url: width: 450" src="{{ product.featured_image | image_url: width: 450 }}" alt="{{ product.featured_image.alt }}" class="product-item_image"></a>
                        <div class="product-item_tag_list">
                          {% if product.selected_or_first_available_variant.available != true %}    <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
    Not in Stock    </div>
{% endif %}
                          {% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price" class="product-item_tag is-red">
    Sale    </div>
{% endif %}
                        </div>
                      </div>
                      <div class="spacer-xxsmall"></div>
                      <a li-object:href="product.url" href="{{ product.url }}" class="product-item_text-link w-inline-block">
                        <div class="product-item_left">
                          <div li-object="product.title" class="heading-style-h4">{{ product.title }}</div>
                        </div>
                        <div class="spacer-xsmall"></div>
                        <div class="product-item_price">
                          {% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price">
    
                            <div li-object="product.compare_at_price | money" class="text-size-regular text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</div>
                              </div>
{% endif %}
                          <div li-object="product.price | money" class="text-size-regular">{{ product.price | money }}</div>
                        </div>
                      </a>
                      <div class="spacer-small"></div>
                      <div class="margin-top-auto">
                        <div class="product-item_form-wrapper">
                          {% if product.available == true %}    <div li-if="product.available == true">
    
                            <a li-element="add-to-cart" data-w-id="3ae0fe8d-f46d-dbee-5f98-3d05422122f4" href="https://lionsmanenootropic.myshopify.com/cart/add?id[]=48706333049112&quantity[]=1" class="button2 is-v2 w-inline-block" @click="addToCart($event, true)" :disabled="!addToCartButton">
                              <div class="button5_inner is-v2">
                                <div class="button2_text">
{{ section.settings.text_button_text }}
</div>
                                <div class="button2_icon-wrap"><img loading="lazy" src="{{ 'add-line.svg' | asset_url }}" alt="" class="button2_icon"></div>
                              </div>
                              <div class="button5_gradient is-v2"></div>
                              <div bind="90e0e776-af58-4836-0cc8-837fb6f002e5" class="custom-styles hide w-embed">
                                <style>
	html {
		font-size: 16px;
	}
	h1, .heading-style-h1 {
		font-size: 2.01em;
	}
	h2, .heading-style-h2 {
		font-size: 1.75em;
	}
	h3, .heading-style-h3 {
		font-size: 1.52em;
	}
	h4, .heading-style-h4 {
		font-size: 1.32em;
	}
	h5, .heading-style-h5 {
		font-size: 1.15em;
	}
	@media (min-width: 478px) {
		html {
			font-size: calc(16px + 0 * ((100vw - 478px) / 514));
		}
	}
	@media (min-width: 992px) {
		html {
			font-size: 16px;
		}
		h1, .heading-style-h1 {
			font-size: 3.71em;
		}
		h2, .heading-style-h2 {
			font-size: 2.86em;
		}
		h3, .heading-style-h3 {
			font-size: 2.2em;
		}
		h4, .heading-style-h4 {
			font-size: 1.69em;
		}
		h5, .heading-style-h5 {
			font-size: 1.3em;
		}
	}
	@media (min-width: 1440px) {
		html {
			font-size: calc(16px + 2 * ((100vw - 1440px) / 480));
		}
	}
	@media (min-width: 1920px) {
		html {
			font-size: 18px;
		}
	}
a {
	color: white;
  text-decoration: none;
}	
.button2 .button2_icon-wrap {
	left: calc(100% - 0.5em);
  transform: translateX(-100%);
  transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.button2:hover .button2_icon-wrap {
	left: 0.5em;
  transform: translateX(0);
  background: rgba(255,255,255,0);
}
.button2 .button2_text {
	position:relative;
	left:0;
  transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.button2:hover .button2_text {
	left:3.5em;
}
.button2 .button2_icon {
	filter: invert(0%);
  transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.button2:hover .button2_icon {
	filter: invert(100%);
}
</style>
                              </div>
                            </a>
                              </div>
{% endif %}
                          {% if product.available != true %}    <div li-if="product.available != true">
    
                            <a href="#" class="button is-secondary pointer-events-off max-width-full w-button">Not in Stock</a>
                              </div>
{% endif %}
                        </div>
                      </div>
                    </div>
