<div class="padding-global">
          <div class="container-medium-2">
            <div class="padding-hero">
              <div class="w-layout-grid header1_component">
                <div data-w-id="c41963d6-64ae-2f79-f3bf-632fcf0fa755" class="header1_content">
                  <div class="gold-subheading">
{{ section.settings.text_gold_text }}
</div>
                  <div class="margin-bottom margin-small">
                    <div class="div-block-586">
                      <div class="heading-style-h1-2 is-header">
{{ section.settings.text_bold_heading }}
</div>
                      <div class="heading-style-h1-2 is-header outline-text">
{{ section.settings.text_outline_heading }}
</div>
                    </div>
                    <p class="subheading-content">Everything in life comes down to how well you can Think</p>
                  </div>
                  <div class="margin-top margin-medium">
                    <div class="button-group-2">
                      <a data-w-id="20e4a4d3-f7ff-4493-e1e8-770cc60273d6" href="{{ section.settings.url_button_link }}" class="button2 is-v2 w-inline-block"> <div class="button5_inner is-v2"> <div class="button2_text">{{ section.settings.text_button_text }}</div> <div class="button2_icon-wrap"><img loading="lazy" src="{{ 'button2-arrow.svg' | asset_url }}" alt="" class="button2_icon"></div> </div> <div class="button5_gradient is-v2"></div> <div bind="90e0e776-af58-4836-0cc8-837fb6f002e5" class="custom-styles hide w-embed"> <style>html { font-size: 16px; } h1, .heading-style-h1 { font-size: 2.01em; } h2, .heading-style-h2 { font-size: 1.75em; } h3, .heading-style-h3 { font-size: 1.52em; } h4, .heading-style-h4 { font-size: 1.32em; } h5, .heading-style-h5 { font-size: 1.15em; } @media (min-width: 478px) { html { font-size: calc(16px + 0 * ((100vw - 478px) / 514)); } } @media (min-width: 992px) { html { font-size: 16px; } h1, .heading-style-h1 { font-size: 3.71em; } h2, .heading-style-h2 { font-size: 2.86em; } h3, .heading-style-h3 { font-size: 2.2em; } h4, .heading-style-h4 { font-size: 1.69em; } h5, .heading-style-h5 { font-size: 1.3em; } } @media (min-width: 1440px) { html { font-size: calc(16px + 2 * ((100vw - 1440px) / 480)); } } @media (min-width: 1920px) { html { font-size: 18px; } } a { color: white; text-decoration: none; } .button2 .button2_icon-wrap { left: calc(100% - 0.5em); transform: translateX(-100%); transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); } .button2:hover .button2_icon-wrap { left: 0.5em; transform: translateX(0); background: rgba(255,255,255,0); } .button2 .button2_text { position:relative; left:0; transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); } .button2:hover .button2_text { left:3.5em; } .button2 .button2_icon { filter: invert(0%); transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); } .button2:hover .button2_icon { filter: invert(100%); }</style> </div> </a>
                    </div>
                  </div>
                </div>
                <div id="w-node-c41963d6-64ae-2f79-f3bf-632fcf0fa761-cf0fa750" class="header1_image-wrapper">{% if section.settings.image_pouches %}
{{ section.settings.image_pouches | image_url: width: 1000 | image_tag: class: 'header1_image', width: '256', sizes: '(max-width: 479px) 100vw, 256px', data-w-id: 'c41963d6-64ae-2f79-f3bf-632fcf0fa763', loading: 'eager' }}
{% else %}
<img class="header1_image" src="{{ 'Lions-Mane-Hero.png' | asset_url }}" width="256" alt="" sizes="(max-width: 479px) 100vw, 256px" data-w-id="c41963d6-64ae-2f79-f3bf-632fcf0fa763" loading="eager" srcset="{{ 'Lions-Mane-Hero.png' | asset_url }} 500w, {{ 'Lions-Mane-Hero.png' | asset_url }} 800w, {{ 'Lions-Mane-Hero.png' | asset_url }} 1080w, {{ 'Lions-Mane-Hero.png' | asset_url }} 1400w">
{% endif %}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="home-hero-background_wrap">
          <div class="home-hero-background_overlay is-v2"></div>
          <div class="home-hero-bg-element_wrap is-top-left">{% if section.settings.image_shroom_top_left %}
{{ section.settings.image_shroom_top_left | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'home-hero-top-left-element' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="home-hero-top-left-element">
{% endif %}</div>
          <div class="home-hero-bg-element_wrap is-bottom-left">{% if section.settings.image_shroom_bottom_left %}
{{ section.settings.image_shroom_bottom_left | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'home-hero-bottom-left-element' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="home-hero-bottom-left-element">
{% endif %}</div>
          <div class="home-hero-bg-element_wrap is-top-right">{% if section.settings.image_shroom_top_right %}
{{ section.settings.image_shroom_top_right | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'home-hero-top-right-element' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="home-hero-top-right-element">
{% endif %}</div>
          <div class="home-hero-bg-element_wrap is-bottom-right">{% if section.settings.image_shroom_bottom_right %}
{{ section.settings.image_shroom_bottom_right | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'home-hero-bottom-right-element' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="home-hero-bottom-right-element">
{% endif %}</div>
        </div> {% schema %} {
    "tag": "header",
    "name": "Hero V4",
    "class": "section_header1",
    "settings": [
        {
            "id": "text_gold_text",
            "type": "text",
            "label": "Gold Text",
            "default": "LIONS MANE"
        },
        {
            "id": "text_bold_heading",
            "type": "text",
            "label": "Bold Heading",
            "default": "Think"
        },
        {
            "id": "text_outline_heading",
            "type": "text",
            "label": "Outline Heading",
            "default": "Better."
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Try Lions Mane"
        },
        {
            "id": "image_pouches",
            "type": "image_picker",
            "label": "Pouches"
        },
        {
            "id": "image_shroom_top_left",
            "type": "image_picker",
            "label": "Shroom Top Left"
        },
        {
            "id": "image_shroom_bottom_left",
            "type": "image_picker",
            "label": "Shroom Bottom Left"
        },
        {
            "id": "image_shroom_top_right",
            "type": "image_picker",
            "label": "Shroom Top Right"
        },
        {
            "id": "image_shroom_bottom_right",
            "type": "image_picker",
            "label": "Shroom Bottom Right"
        }
    ],
    "presets": [
        {
            "name": "Hero V4",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}