<div class="padding-global">
          <div class="login4_component">
            <div class="login4_form-wrapper">
              <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="login_tabs w-tabs">
                <div class="login_tab-content w-tab-content">
                  <div data-w-tab="Tab 1" class="login_tab-pane w-tab-pane w--tab-active">
                    <div class="login_form w-form">
                      <div class="login-title">
{{ section.settings.text_login }}
</div>
                      <div class="text-size-regular text-align-center">Login to your account to access your points and past orders. <br><span>
{{ section.settings.text_no_account_yet }}
</span>
                        <a href="{{ routes.account_register_url }}" li-object:href="routes.account_register_url" class="text-style-link text-weight-bold">Register now</a>
                      </div>
                      {% form 'customer_login', return_to: '/account', class: 'form_form' %}
{% if form.errors %}    <div li-if="form.errors" class="form_error-message">
    
                          <div li-object="form.errors | default_errors" class="text-size-regular text-color-red text-align-center">{{ form.errors | default_errors }}</div>
                            </div>
{% endif %}
                        <div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Email Address</label>
                          <div class="formicon"><input class="input-field icon w-input" maxlength="256" name="customer[email]" data-name="Email" placeholder="Email" type="text" id="Email" required=""><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="field-icon-3">
                              <path d="M4 21V17C4 15.8954 4.89543 15 6 15H18C19.1046 15 20 15.8954 20 17V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="path-g29kx"></path>
                              <circle cx="12" cy="7" r="4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="circle-a52b2"></circle>
                            </svg></div>
                        </div>
                        <div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Password</label>
                          <div class="formicon"><input class="input-field icon w-input" maxlength="256" name="customer[password]" data-name="Password" placeholder="Password" type="password" id="Password" required=""><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 1024 1024" app="ikonik" class="field-icon-3">
                              <path fill="currentColor" d="M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32zM332 240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224H332V240zm460 600H232V536h560v304zM484 701v53c0 4.4 3.6 8 8 8h40c4.4 0 8-3.6 8-8v-53a48.01 48.01 0 1 0-56 0z" app="ikonik" class="path-ofwijk"></path>
                            </svg></div>
                        </div><input type="submit" data-wait="Please Wait" id="w-node-_61ca83da-ed6f-b20e-b358-002173a1358c-b136f159" class="login-button w-button" value="Login">
                      {% endform %}
                      <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="login_hinweis-kachel w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Tab 2" class="login_tab-pane w-tab-pane">
                    <div class="login_form w-form">
                      <h2 class="heading-style-h2 text-align-center">
{{ section.settings.text_reset_password }}
</h2>
                      <p class="text-size-regular text-align-center">
{{ section.settings.text_password_text }}
</p>
                      {% form 'recover_customer_password', class: 'form_form' %}
<div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Email Address</label>
                          <div class="formicon"><input class="input-field icon w-input" maxlength="256" name="customer[email]" data-name="Email" placeholder="Email" type="text" id="Email" required=""><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="field-icon-3">
                              <path d="M4 21V17C4 15.8954 4.89543 15 6 15H18C19.1046 15 20 15.8954 20 17V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="path-g29kx"></path>
                              <circle cx="12" cy="7" r="4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="circle-a52b2"></circle>
                            </svg></div>
                        </div><input type="submit" data-wait="Please wait..." class="login-button w-button" value="Reset">
                      {% endform %}
                      <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="login_tab-menu w-tab-menu">
                  <a data-w-tab="Tab 1" class="login_tab-link w-inline-block w-tab-link w--current">
                    <div class="text-style-link text-weight-bold">Login</div>
                  </a>
                  <a data-w-tab="Tab 2" class="login_tab-link w-inline-block w-tab-link">
                    <div><span>
{{ section.settings.text_forgot_password }}
</span> <span class="text-style-link text-weight-bold">Reset password!</span></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "login",
    "class": "section_login4",
    "settings": [
        {
            "id": "text_login",
            "type": "text",
            "label": "Login",
            "default": "Login"
        },
        {
            "id": "text_no_account_yet",
            "type": "text",
            "label": "No Account yet",
            "default": "No Account yet?"
        },
        {
            "id": "text_reset_password",
            "type": "text",
            "label": "Reset Password",
            "default": "Reset Password"
        },
        {
            "id": "text_password_text",
            "type": "text",
            "label": "Password Text",
            "default": "In order to receive a new password, you need to enter your email address below, and we will send you an email with further instructions immediately."
        },
        {
            "id": "text_forgot_password",
            "type": "text",
            "label": "Forgot password",
            "default": "Forgot password?"
        }
    ],
    "presets": [
        {
            "name": "login",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "customers\/login"
        ]
    }
} {% endschema %}