<div class="padding-global">
          <div class="container-large">
            <div class="pricing-content_layout">
              <div class="margin-bottom is-relative">
                <div class="text-align-center">
                  <div data-w-id="94d58926-10cb-afb3-2cea-63f8eaf714fc" style="opacity:0" class="max-width-full">
                    <div class="margin-bottom margin-small">
                      <div class="heading-style-h2-7 is-subhead">LEARN ABOUT LIONS MANE</div>
                    </div>
                    <p class="heading-style-h1-4 is-largetext">BLOG<span class="outline-text-2"> &</span> news</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-bg-element_wrap">
          <div class="price-bg-element is-top-left-wrap">{% if section.settings.image_shroom_top_left %}
{{ section.settings.image_shroom_top_left | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'price-bg-element is-top-left' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="price-bg-element is-top-left">
{% endif %}</div>
          <div class="price-bg-element is-bottom-left-wrap">{% if section.settings.image_shroom_bottom_left %}
{{ section.settings.image_shroom_bottom_left | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'price-bg-element is-bottom-left' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="price-bg-element is-bottom-left">
{% endif %}</div>
          <div class="price-bg-element is-top-right-wrap">{% if section.settings.image_shroom_top_right %}
{{ section.settings.image_shroom_top_right | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'price-bg-element is-top-right' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="price-bg-element is-top-right">
{% endif %}</div>
          <div class="price-bg-element is-middle-right-wrap">{% if section.settings.image_shroom_right %}
{{ section.settings.image_shroom_right | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'price-bg-element is-middle-right' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="price-bg-element is-middle-right">
{% endif %}</div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Page Heading",
    "class": "section_blog-list-2",
    "settings": [
        {
            "id": "image_shroom_top_left",
            "type": "image_picker",
            "label": "Shroom Top Left"
        },
        {
            "id": "image_shroom_bottom_left",
            "type": "image_picker",
            "label": "Shroom Bottom Left"
        },
        {
            "id": "image_shroom_top_right",
            "type": "image_picker",
            "label": "Shroom Top Right"
        },
        {
            "id": "image_shroom_right",
            "type": "image_picker",
            "label": "Shroom Right"
        }
    ],
    "presets": [
        {
            "name": "Page Heading",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}