<div class="padding-global-5 z-index-2">
          <div class="container-large-5">
            <div class="padding-section-small no-bottom-padding">
              <div class="pricing-content_layout">
                <div class="margin-bottom is-relative">
                  <div class="text-align-center">
                    <div data-w-id="32df313e-8fa3-49ae-5a24-36751b2ef538" class="max-width-full">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2-6 is-subhead">
{{ section.settings.text_subheading }}
</h2>
                      </div>
                      <p class="heading-style-h1-4 is-largetext is-v2">
{{ section.settings.text_large_heading }}
</p>
                    </div>
                  </div>
                </div>
                <div class="_1rem-spacer"></div>
              </div>
              <div class="filter_feed">
                <div class="filter_product-list-wrapper w-dyn-list">
                  <div role="list" class="filter_product-list w-dyn-items">
                    {% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                      
                            {% render 'product_item', product: product %}
                            
                    
                        </div>
{% endfor %}
                  </div>
                  {% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    
                    <div class="heading-style-h6">No results found.</div>
                    <div class="spacer-xxsmall"></div>
                    <div>There are no results with this criteria. Try changing your search.</div>
                      </div>
{% endif %}
                </div>
                {% if paginate.pages > 1 %}    <nav li-if="paginate.pages > 1" class="pagination_component">
    
                  <ul role="list" class="pagination_list w-list-unstyled">
                    {% if paginate.previous %}    <li li-if="paginate.previous" class="pagination_item">
    
                      <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon w-inline-block">
                        <div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                            <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                          </svg></div>
                        <div>Back</div>
                      </a>
                        </li>
{% endif %}
                    {% if paginate.previous == false %}    <li li-if="paginate.previous == false" class="pagination_item">
    
                      <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block">
                        <div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                            <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                          </svg></div>
                        <div>Back</div>
                      </a>
                        </li>
{% endif %}
                    {% for part in paginate.parts %}    <li li-for="part in paginate.parts" class="pagination_item">
                                    
                      
                            {% if part.is_link %}    <div li-if="part.is_link">
    
                        <a li-object:href="part.url" href="{{ part.url }}" class="pagination_count w-inline-block">
                          <div li-object="part.title" class="text-style-link">{{ part.title }}</div>
                        </a>
                          </div>
{% endif %}
                            
                      
                            {% if part.is_link == false %}    <div li-if="part.is_link == false">
    
                        <div li-object="part.title" class="{% if part.title == paginate.current_page %}text-weight-semibold{% endif %}">{{ part.title }}</div>
                          </div>
{% endif %}
                            
                    
                        </li>
{% endfor %}
                    {% if paginate.next == false %}    <li li-if="paginate.next == false" class="pagination_item">
    
                      <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block">
                        <div>Next</div>
                        <div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                            <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                          </svg></div>
                      </a>
                        </li>
{% endif %}
                    {% if paginate.next %}    <li li-if="paginate.next" class="pagination_item">
    
                      <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon w-inline-block">
                        <div>Next</div>
                        <div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                            <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                          </svg></div>
                      </a>
                        </li>
{% endif %}
                  </ul>
                    </nav>
{% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-bg-element_wrap">
          <div class="price-bg-element is-top-left-wrap">{% if section.settings.image_shroom_top_left %}
{{ section.settings.image_shroom_top_left | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'price-bg-element is-top-left' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="price-bg-element is-top-left">
{% endif %}</div>
          <div class="price-bg-element is-bottom-left-wrap">{% if section.settings.image_shroom_bottom_left %}
{{ section.settings.image_shroom_bottom_left | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'price-bg-element is-bottom-left' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="price-bg-element is-bottom-left">
{% endif %}</div>
          <div class="price-bg-element is-top-right-wrap">{% if section.settings.image_shroom_top_right %}
{{ section.settings.image_shroom_top_right | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'price-bg-element is-top-right' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="price-bg-element is-top-right">
{% endif %}</div>
          <div class="price-bg-element is-middle-right-wrap">{% if section.settings.image_shroom_bottom_right %}
{{ section.settings.image_shroom_bottom_right | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'price-bg-element is-middle-right' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'Header-asset-blurred_1Header-asset-blurred.webp' | asset_url }}" class="price-bg-element is-middle-right">
{% endif %}</div>
          <div class="price-bg-element is-bottom-right-wrap"></div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Product Selection",
    "class": "section_pricing16",
    "settings": [
        {
            "id": "text_subheading",
            "type": "text",
            "label": "Subheading",
            "default": "Think Better. Do Better. Feel Better"
        },
        {
            "id": "text_large_heading",
            "type": "text",
            "label": "Large Heading",
            "default": "<span class=\"outline-text\">TRY<\/span> Lions Mane"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Add To Cart"
        },
        {
            "id": "image_shroom_top_left",
            "type": "image_picker",
            "label": "Shroom Top Left"
        },
        {
            "id": "image_shroom_bottom_left",
            "type": "image_picker",
            "label": "Shroom Bottom Left"
        },
        {
            "id": "image_shroom_top_right",
            "type": "image_picker",
            "label": "Shroom Top Right"
        },
        {
            "id": "image_shroom_bottom_right",
            "type": "image_picker",
            "label": "Shroom Bottom Right"
        }
    ],
    "presets": [
        {
            "name": "Product Selection",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}