<div class="padding-global-8">
          <div class="login4_component">
            <div class="login4_form-wrapper">
              <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="login_tabs w-tabs">
                <div class="login_tab-content w-tab-content">
                  <div data-w-tab="Tab 1" class="login_tab-pane w-tab-pane w--tab-active">
                    <div class="login_form w-form">
                      {% form 'create_customer', return_to: '/', class: 'form_form' %}
<div class="login-title">
{{ section.settings.text_login }}
</div>
                        <div li-object="form.errors | default_errors" class="text-size-regular text-align-center">{{ form.errors | default_errors }}</div>
                        {% if form.errors %}    <div li-if="form.errors" class="form_error-message">
    
                          <div li-object="form.errors | default_errors" class="text-size-regular text-color-red text-align-center">{{ form.errors | default_errors }}</div>
                            </div>
{% endif %}
                        <div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Email Address</label>
                          <div class="formicon"><input class="input-field icon w-input" maxlength="256" name="customer[first_name]" data-name="First Name" placeholder="First Name" type="text" id="First-Name" required=""><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="field-icon-3">
                              <path d="M4 21V17C4 15.8954 4.89543 15 6 15H18C19.1046 15 20 15.8954 20 17V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="path-g29kx"></path>
                              <circle cx="12" cy="7" r="4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="circle-a52b2"></circle>
                            </svg></div>
                        </div>
                        <div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Email Address</label>
                          <div class="formicon"><input class="input-field icon w-input" maxlength="256" name="customer[last_name]" data-name="Last Name" placeholder="Last Name" type="text" id="Last-Name" required=""><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="field-icon-3">
                              <path d="M4 21V17C4 15.8954 4.89543 15 6 15H18C19.1046 15 20 15.8954 20 17V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="path-g29kx"></path>
                              <circle cx="12" cy="7" r="4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="circle-a52b2"></circle>
                            </svg></div>
                        </div>
                        <div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Email Address</label>
                          <div class="formicon"><input class="input-field icon w-input" maxlength="256" name="customer[email]" data-name="Email" placeholder="Email" type="text" id="Email" required=""><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 24 24" fill="none" app="ikonik" class="field-icon-3">
                              <path d="M4 21V17C4 15.8954 4.89543 15 6 15H18C19.1046 15 20 15.8954 20 17V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="path-g29kx"></path>
                              <circle cx="12" cy="7" r="4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" app="ikonik" class="circle-a52b2"></circle>
                            </svg></div>
                        </div>
                        <div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Password</label>
                          <div class="formicon"><input class="input-field icon w-input" maxlength="256" name="customer[password]" data-name="Password" placeholder="Password" type="text" id="Password" required=""><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 1024 1024" app="ikonik" class="field-icon-3">
                              <path fill="currentColor" d="M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32zM332 240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224H332V240zm460 600H232V536h560v304zM484 701v53c0 4.4 3.6 8 8 8h40c4.4 0 8-3.6 8-8v-53a48.01 48.01 0 1 0-56 0z" app="ikonik" class="path-ofwijk"></path>
                            </svg></div>
                        </div><input type="submit" data-wait="Please Wait" id="w-node-c8fe9b7b-9e4b-ad53-b471-c6d6a56503d4-b136f160" class="login-button w-button" value="Create Account">
                      {% endform %}
                      <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="login_hinweis-kachel w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Tab 2" class="login_tab-pane w-tab-pane">
                    <div class="login_form w-form">
                      <h2 class="heading-style-h2 text-align-center">
{{ section.settings.text_reset_password }}
</h2>
                      <p class="text-size-regular text-align-center">
{{ section.settings.text_password_text }}
</p>
                      {% form 'recover_customer_password', class: 'form_form' %}
<div class="form_field-wrapper"><label for="field-4" class="form_hidden-label">Email Address</label><input class="form_input w-input" maxlength="256" name="email" data-name="Field 4" placeholder="Email Address" type="email" id="field-4"></div><input type="submit" data-wait="Please wait..." class="button max-width-full w-button" value="Reset">
                      {% endform %}
                      <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="login_tab-menu w-tab-menu">
                  <a data-w-tab="Tab 1" class="login_tab-link w-inline-block w-tab-link w--current">
                    <div class="text-style-link text-weight-bold">Login</div>
                  </a>
                  <a data-w-tab="Tab 2" class="login_tab-link w-inline-block w-tab-link">
                    <div><span>
{{ section.settings.text_forgot_password }}
</span> <span class="text-style-link text-weight-bold">Login instead</span></div>
                  </a>
                </div>
              </div>
              <div class="_1rem-spacer"></div>
              <a id="w-node-c8fe9b7b-9e4b-ad53-b471-c6d6a56503f9-b136f160" href="#" class="google-login w-inline-block">
                <div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.5 11.79C21.5 15.94 19.29 21 12.63 21C7.62461 21.0332 3.53852 17.0053 3.5 12C3.53852 6.99461 7.62461 2.9667 12.63 2.99996C14.7007 3.00764 16.7085 3.71213 18.33 4.99996C18.442 5.09149 18.5109 5.22557 18.52 5.36996C18.5206 5.51605 18.463 5.65637 18.36 5.75996C17.709 6.35516 17.0882 6.98261 16.5 7.63996C16.3289 7.82826 16.0422 7.85432 15.84 7.69996C14.9161 7.01624 13.7888 6.66394 12.64 6.69996C9.68528 6.69996 7.29 9.09524 7.29 12.05C7.29 15.0047 9.68528 17.4 12.64 17.4C15.64 17.4 16.91 16.12 17.57 13.85H13C12.7239 13.85 12.5 13.6261 12.5 13.35V10.7C12.5 10.4238 12.7239 10.2 13 10.2H21C21.2302 10.1985 21.4244 10.3711 21.45 10.6C21.4871 10.9955 21.5038 11.3927 21.5 11.79Z" fill="currentColor"></path>
                  </svg></div>
                <div>Join with Google</div>
              </a>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "register",
    "class": "section_login4",
    "settings": [
        {
            "id": "text_login",
            "type": "text",
            "label": "Login",
            "default": "Create Account"
        },
        {
            "id": "text_no_account_yet",
            "type": "text",
            "label": "No Account yet",
            "default": "\u200d"
        },
        {
            "id": "text_reset_password",
            "type": "text",
            "label": "Reset Password",
            "default": "Reset Password"
        },
        {
            "id": "text_password_text",
            "type": "text",
            "label": "Password Text",
            "default": "In order to receive a new password, you need to enter your email address below, and we will send you an email with further instructions immediately."
        },
        {
            "id": "text_forgot_password",
            "type": "text",
            "label": "Forgot password",
            "default": "Already have an account?"
        }
    ],
    "presets": [
        {
            "name": "register",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "customers\/register"
        ]
    }
} {% endschema %}