<div class="padding-global padding-section-medium">
          <div class="container-large">
            {% assign currentArticle = article.title %}
            <h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
            <div class="spacer-medium"></div>
            <div class="blog_list-wrapper w-dyn-list">
              <div li-for:inside="article in blog.articles limit: 3" role="list" class="blog_list w-dyn-items">
        {% for article in blog.articles limit: 3 %}                            
                
                            {% if article.title != currentArticle %}    <div li-if="article.title != currentArticle" role="listitem" class="blog_list-item w-dyn-item">
    
                  <a li-object:href="article.url" href="{{ article.url }}" class="blog-card w-inline-block">
                    <div class="blog-image"><img li-object:src="article.image | image_url: width: 450" li-object:alt="article.image.alt" alt="{{ article.image.alt }}" src="{{ article.image | image_url: width: 450 }}" loading="lazy" class="image-cover">
                      <div class="blog-badge">
                        <div>#lionsmane</div>
                      </div>
                    </div>
                    <div class="wrap-v-x-small">
                      <h5 li-object="article.title" class="blog-heading">{{ article.title }}</h5>
                    </div>
                    <div class="blog-detail">
                      <div class="button-link">
                        <div class="icon-link">
                          <div bind="9e5d8c6f-b7b9-bd29-c15b-b15671681282" class="icon-x-small w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M3.47233 8.66657H10.919L7.66566 11.9199C7.40566 12.1799 7.40566 12.6066 7.66566 12.8666C7.92566 13.1266 8.34566 13.1266 8.60566 12.8666L12.999 8.47323C13.259 8.21323 13.259 7.79323 12.999 7.53323L8.61233 3.13323C8.35233 2.87323 7.93233 2.87323 7.67233 3.13323C7.41233 3.39323 7.41233 3.81323 7.67233 4.07323L10.919 7.33323H3.47233C3.10566 7.33323 2.80566 7.63323 2.80566 7.9999C2.80566 8.36657 3.10566 8.66657 3.47233 8.66657Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                        <div>Read more</div>
                      </div>
                    </div>
                  </a>
                    </div>
{% endif %}
                            
              
                    {% endfor %}    </div>
              <div class="hide w-dyn-empty"></div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Related Articles",
    "class": "section_related-articles",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Other Articles"
        }
    ],
    "presets": [
        {
            "name": "Related Articles",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "article"
        ]
    }
} {% endschema %}