<div class="padding-section-large no-bottom-padding">
          <div data-w-id="d33873de-e6cf-91f2-d673-500b77c06721" class="banner13_component">
            <h2 class="banner13_heading-top">
{{ section.settings.text_top_text }}
</h2>
            <h2 class="banner13_heading-bottom outline-text">
{{ section.settings.text_bottom_text }}
</h2>
          </div>
        </div>
        <div class="section_layout245 is-banner13-component">
          <div class="padding-global-5">
            <div class="container-large-4">
              <div class="padding-section-large no-top-padding">
                <div>
                  <div bind="f2d2f2a9-8a99-b8b7-6436-c8c0caa0991b" class="global-style w-embed">
                    <style>
.card_glow_background {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
}
 /*
.card_glow_background._1 {
}
.card_glow_background._2 {
  left: calc(-100% - 24px);
}
.card_glow_background._3 {
  left: calc(-100% - 36px);
}
.card_glow_background._4 {
  top: calc(-100% - 24px);
}
.card_glow_background._5 {
  top: calc(-100% - 24px);
  left: calc(-100% - 24px);
}
.card_glow_background._6 {
  top: calc(-100% - 24px);
  left: calc(-100% - 36px);
}
*/
.card_glow_background._1 {
 top: calc(-25% - 24px);
}
.card_glow_background._2 {
top: calc(-25% - 24px);
left: calc(-50% - 12px);
}
.card_glow_background._3 {
 top: calc(-25% - 24px);
 left: calc(-100% - 24px);
}
.card_glow_background._4 {
 top: calc(-75% - 24px);
}
.card_glow_background._5 {
top: calc(-75% - 24px);
left: calc(-50% - 12px);
}
.card_glow_background._6 {
  top: calc(-75% - 24px);
  left: calc(-100% - 36px);
}
</style>
                  </div>
                  <div class="w-layout-grid grid_card">
                    {% for block in section.blocks %}
    {% if block.type == "usp-block" %}
                    <div li-block="USP Block" id="w-node-d33873de-e6cf-91f2-d673-500b77c0672d-77c0671f" data-w-id="d33873de-e6cf-91f2-d673-500b77c0672d" class="glow-card">
                                    
                      
                                    <a href="{{ block.settings.url_link }}" class="card_border_glow w-inline-block"> <div id="w-node-d33873de-e6cf-91f2-d673-500b77c0672f-77c0671f" class="card-hover"> <div class="margin-bottom margin-medium"> <div class="layout245-icon_wrap">{% if block.settings.image_image %} {{ block.settings.image_image | image_url: width: 52 | image_tag: loading: 'lazy', class: 'icon-1x1-medium-2' }} {% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'icon-1x1-medium-2' }} {% endif %}</div> </div> <div class="margin-bottom margin-small"> <h3 class="heading-style-h4-2">{{ block.settings.text_heading }}</h3> </div> <p class="text-size-regular-2">{{ block.settings.text_text }}</p> <div class="_1rem-spacer-2"></div> <div class="morecontainer"> <p class="text-size-regular-2">{{ block.settings.text_button_text }}</p><img loading="lazy" src="{{ 'Right-arrow.svg' | asset_url }}" alt="" class="arrow-icon"> </div> </div> <div class="card_glow_background _1"></div> </a>
                                    
                    
                            </div>
            {% endif %}
{% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "USP Section",
    "class": "section_banner13",
    "blocks": [
        {
            "name": "USP Block",
            "type": "usp-block",
            "settings": [
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                },
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Think Better"
                },
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "Lion\u2019s Mane boosts cognitive function by promoting nerve growth factor (NGF) production, enhancing memory, focus, and mental clarity."
                },
                {
                    "id": "text_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "default": "Find Out More"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "text_top_text",
            "type": "text",
            "label": "Top Text",
            "default": "Think Better. Feel Better. Do Better. "
        },
        {
            "id": "text_bottom_text",
            "type": "text",
            "label": "Bottom Text",
            "default": "Do Better. Feel Better. Think Better. "
        }
    ],
    "presets": [
        {
            "name": "USP Section",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "usp-block"
                }
            ]
        }
    ]
} {% endschema %}