<div class="header26_component is-text">
          <div class="margin-bottom is-relative">
            <div class="text-align-center">
              <div data-w-id="1df109a5-2673-b007-2eed-18b3e2d96beb" class="max-width-large">
                <div>
                  <h2 class="heading-style-h2-4 is-subhead">
{{ section.settings.text_top_text }}
</h2>
                </div>
                <div class="heading-style-h1-3 is-largetext is-mental">
{{ section.settings.text_solid_heading }}
</div>
                <div class="heading-style-h1-3 is-largetext is-mental outline-text">
{{ section.settings.text_outline_text }}
</div>
              </div>
            </div>
          </div>
          <div class="header26_image-wrapper">{% if section.settings.image_mushroom %}
{{ section.settings.image_mushroom | image_url: width: 1000 | image_tag: data-w-id: '1df109a5-2673-b007-2eed-18b3e2d96bf5', loading: 'eager', class: 'header26_image' }}
{% else %}
<img data-w-id="1df109a5-2673-b007-2eed-18b3e2d96bf5" alt="" src="https://uploads-ssl.webflow.com/66762a278b3e636bb85f4c56/66762a278b3e636bb85f4c62_Header%20asset.png" loading="eager" class="header26_image">
{% endif %}</div>
          <div class="header26-background_wrap">{% if section.settings.image_background_image %}
{{ section.settings.image_background_image | image_url: width: 1000 | image_tag: class: 'header26-background-image', sizes: '100vw', loading: 'lazy' }}
{% else %}
<img class="header26-background-image" src="{{ 'Header-26-Background-image_1Header-26-Background-image.webp' | asset_url }}" alt="" sizes="100vw" loading="lazy" srcset="{{ 'Header-26-Background-image_1Header-26-Background-image.webp' | asset_url }} 500w, {{ 'Header-26-Background-image_1Header-26-Background-image.webp' | asset_url }} 800w, {{ 'Header-26-Background-image_1Header-26-Background-image.webp' | asset_url }} 1080w, {{ 'Header-26-Background-image_1Header-26-Background-image.webp' | asset_url }} 1440w">
{% endif %}
            <div class="header26-background-overlay"></div>
          </div>
        </div>
        <div data-w-id="1df109a5-2673-b007-2eed-18b3e2d96bf9" class="dotted-line_wrap is-line">
          <div class="dottled-line-image_wrap">
            <div class="w-embed">
              <div style="width: 2px; height: 8rem; background: repeating-linear-gradient(to bottom, #808080 0, #808080 6px, transparent 6px, transparent 14px); background-attachment: fixed; background-position: 0 calc(100% - var(--scroll-y, 0px));"></div>
            </div>
          </div>
        </div>
        <div class="section_layout143">
          <div class="padding-global">
            <div class="container-large">
              <div class="padding-section-small no-top-padding">
                <div data-w-id="b96eac00-c041-cccb-63cf-9df517cde2ab" class="payment-wrap">
                  <div class="payment-inner-wrap">
                    <div class="payment-inner-content">
                      <div style="padding-top:56.17021276595745%" class="w-embed-youtubevideo"><iframe src="https://www.youtube.com/embed/_Isphu4c8hU?rel=0&controls=1&autoplay=0&mute=0&start=0" frameborder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto" allow="autoplay; encrypted-media" allowfullscreen="" title="Paul Stamets telling Joe Rogan about the incredible benefits of Lions Mane mushrooms"></iframe></div>
                    </div>
                  </div>
                  <div class="light-border">
                    <div class="light-border-inner">
                      <div class="about-light-border"></div>
                      <div class="light-border-cover"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Video Section",
    "class": "section",
    "settings": [
        {
            "id": "text_top_text",
            "type": "text",
            "label": "Top Text",
            "default": "Experience \u00a0a new level of"
        },
        {
            "id": "text_solid_heading",
            "type": "text",
            "label": "Solid Heading",
            "default": "Mental"
        },
        {
            "id": "text_outline_text",
            "type": "text",
            "label": "Outline Text",
            "default": "Clarity"
        },
        {
            "id": "image_mushroom",
            "type": "image_picker",
            "label": "Mushroom"
        },
        {
            "id": "image_background_image",
            "type": "image_picker",
            "label": "Background Image"
        }
    ],
    "presets": [
        {
            "name": "Video Section",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}